# Core data and ML libraries
pandas
numpy
scikit-learn
xgboost==2.0.3
joblib

# API and web framework
fastapi
uvicorn

# Frontend
streamlit
plotly

# Hopsworks + feature store
hopsworks==4.2.2
hsfs==3.7.2
confluent-kafka

# For fetching and caching Open-Meteo data
openmeteo-requests
requests-cache
retry-requests

# Utility
python-dotenv
